<div class="container content">
  <div class=" p-4 my-4">
    <hr class="divider" />
    <h2 class="text-center text-lg text-uppercase my-0">
      Nuestros
      <strong>Servicios</strong>
    </h2>
    <hr class="divider" />
    <div class="row">
      <div class="col-lg-12">
        <p>
          Ofrecemos, exclusivamente, servicios en serigrafía textil de <strong>calidad óptima</strong> a un
          <strong>precio razonable</strong>. Usamos tintas al agua de <strong>primeras marcas</strong> y el tiempo
          necesario para que las cosas salgan bien.
        </p>
        <p>
        </p>
        <p>
          Nuestra especialidad son los trabajos de <strong>pequeña y mediana producción</strong>, el <strong>trato
            cercano</strong> y <strong>especializado</strong>.
        </p>
        <p>
          Asesoramos sobre los diseños a imprimir para que el resultado sea el más adecuado. También podemos encargarnos
          del <strong>diseño gráfico</strong> si no tienes claro qué estampar.
        </p>
        <p>Trabajamos con las <strong>principales marcas</strong> de textil por lo que podemos ofrecerte todo tipo de
          prendas.</p>
      </div>
    </div>
    <br />
    <div class="row servicios">
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.sols.es/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/sols.png" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.anvilknitwear.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/anvil.png" style="padding-top: 3%;" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.sg-clothing.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/sg.png" style="width: 32%;" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.jassz.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/jassz.png" alt="" />
        </a>
      </div>
    </div>
    <br />
    <div class="row servicios">
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.roly.es/">
          <img class="img-fluid mb-4 mb-lg-0 invert roly" src="../../assets/img/services/roly.png" style="padding-top: 3%;"
            alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.resultclothing.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/result.jpg" style="width: 64%; padding-top: 3%;"
            alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="http://www.beechfield.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/beechfield.png" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.bellacanvas.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/bella+canvas.png" style="padding-top: 8%;"
            alt="" />
        </a>
      </div>
    </div>
    <div class="row servicios">
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.gildan.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/gildan.png" style="padding-top: 3%;" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="http://www.fdmcorporate.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/fdm.png" style="padding-top: 9%;" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.russelleurope.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/russell.svg"
            style="padding-top: 7%; width: 40%;" alt="" />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.fruitoftheloom.es/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/fruit.png" style="padding-top: 4%; width: 62%;"
            alt="" />
        </a>
      </div>
    </div>
    <div class="row servicios">
      <div class="col-lg-4" style="text-align: center;">
        <a href="https://www.americanapparel.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/american.svg"
            style="padding-top: 3%; width: 62%;" alt="" />
        </a>
      </div>
      <div class="col-lg-4" style="text-align: center;">
        <a href="http://www.westfordmill.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/westford.png" style="padding-top: 3%;" alt="" />
        </a>
      </div>
      <div class="col-lg-4" style="text-align: center;">
        <a href="https://www.mantisworld.com/">
          <img class="img-fluid mb-4 mb-lg-0" src="../../assets/img/services/mantis.png" style="width: 76%;
            margin-top: 5%;" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>