<div class="container">
  <div class=" p-4 my-4">
    <hr class="divider" />
    <h2 class="text-center text-lg text-uppercase my-0">
      Nuestros
      <strong>Servicios</strong>
    </h2>
    <hr class="divider" />
    <div class="row">
      <!-- <div class="col-lg-6">
          <img class="img-fluid mb-4 mb-lg-0" src="img/cagnoIcon.jpg" alt="">
        </div> -->
      <div class="col-lg-12">
        <p>
          Ofrecemos servicios en serigrafía textil a un precio razonable y una
          calidad óptima. Usamos tintas de primera calidad y el tiempo necesario
          para que las cosas salgan bien.
        </p>
        <p>
          Nuestra especialidad son los trabajos de pequeña y mediana producción,
          el trato cercano y especializado.
        </p>
        <p>
          Asesoramos sobre los diseños a imprimir para que el resultado sea el
          más adecuado. También podemos encargarnos del diseño gráfico si no
          tienes claro qué estampar.
        </p>
        <p>
          Trabajamos con las principales marcas de textil por lo que podemos
          ofrecerte todo tipo de prendas. Algunos ejemplos:
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.sols.es/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/sols-light.png"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.anvilknitwear.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/anvil-logo.png"
            style="padding-top: 3%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.sg-clothing.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/sg-clothing.png"
            style="width: 32%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.jassz.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/jassz.png"
            alt=""
          />
        </a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.roly.es/">
          <img
            class="img-fluid mb-4 mb-lg-0 invert"
            src="../../assets/img/logoRoly.png"
            style="padding-top: 3%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.resultclothing.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/logoResult.jpg"
            style="width: 64%; padding-top: 3%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="http://www.beechfield.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/logoBeechfield.png"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.bellacanvas.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/bellaCanvasLogo.png"
            style="padding-top: 8%;"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.gildan.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/gildanLogo.png"
            style="padding-top: 3%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="http://www.fdmcorporate.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/logoFDM.png"
            style="padding-top: 9%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.russelleurope.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/russellLogo.svg"
            style="padding-top: 7%; width: 40%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3" style="text-align: center;">
        <a href="https://www.fruitoftheloom.es/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/fruitLogo.png"
            style="padding-top: 4%; width: 62%;"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" style="text-align: center;">
        <a href="https://www.americanapparel.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/americanApparelLogo.svg"
            style="padding-top: 3%; width: 62%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-4" style="text-align: center;">
        <a href="http://www.westfordmill.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/WMLogo.png"
            style="padding-top: 3%;"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-4" style="text-align: center;">
        <a href="https://www.mantisworld.com/">
          <img
            class="img-fluid mb-4 mb-lg-0"
            src="../../assets/img/mantisLogo.png"
            style="width: 76%;
            margin-top: 5%;"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
