<div class="container">
  <div class=" p-4 my-4">
    <hr class="divider" />
    <h2 class="text-center text-lg text-uppercase my-0">
      Sobre
      <strong>Caño</strong>
    </h2>
    <hr class="divider" />
    <div class="row">
      <div class="col-lg-6">
        <img
          class="img-fluid mb-4 mb-lg-0"
          src="./../../assets/img/RioSella2.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-6">
        <p>
          Nuestra historia empezó en abril de 1996 en Caño, al borde del río
          Sella.
        </p>
        <p>
          Siempre nos había gustado dibujar y con nuestros conocimientos de
          diseño gráfico y serigrafía nos lanzamos a crear nuestro pequeño
          taller de serigrafía textil. Desde entonces han pasado muchas cosas y
          hemos adquirido una experiencia considerable.
        </p>
        <p>
          Comercializamos nuestros propios diseños enfocados al souvenir,
          trabajamos la serigrafía publicitaria, nos mudamos a Gijón, abrimos
          tiendas, creamos una línea de camisetas con diseños de autor,
          trabajamos para pequeñas marcas de camisetas, estampamos los logos de
          muchos grupos de música, sellos discográficos, asociaciones juveniles,
          eventos festivos...
        </p>
        <p>
          Siempre tratando de dar el mejor servicio en calidad y atención a
          nuestros clientes. Han pasado más de 20 años y seguimos.
        </p>
      </div>
    </div>
  </div>
</div>
