/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/business-casual.css";

body {
    // background-color: rgba(148, 148, 148, 0.2) !important;
    text-align: justify !important;
    .content {
        min-height: calc(100vh - 480px);

        .carousel {
            border-radius: 300px;
            overflow: auto;
        }
    }
}

a {
    cursor: pointer;
}

nav {
    background-color: #fff !important;

    .logoHeader img {
        width: 30%;
        cursor: pointer;
    }
}

footer {
    background-color: rgba(148, 148, 148, 0.08) !important;
    // background-color: #fff;
}

.btn:disabled {
    opacity: 0.15 !important;
}

button.contactForm {
    width: 100%;
}

.servicios img:hover {
    filter: opacity(0.5);
    &.roly {
        -webkit-filter: invert(100%) opacity(0.5);
        filter: invert(100%) opacity(0.5);
    }
}

@media (max-device-width: 812px) {
    nav a {
        width: 50%;

        img {
            width: 100%;
        }
    }
}
