<div class="container content">
  <div class=" p-4 my-4">
    <hr class="divider" />
    <h2 class="text-center text-lg text-uppercase my-0">
      Nuestros
      <strong>Trabajos</strong>
    </h2>
    <hr class="divider" />
    <div class="row">
      <div class="col-lg-12">
        <p>
          A lo largo de todos estos años realizamos gran cantidad de trabajos respetando los plazos de
          entrega y las exigencias de nuestros clientes.
        </p>
        <p>Garantizamos un servicio de calidad y mucho mimo en cada una de las estampaciones. Algunas imágenes de
          trabajos realizados.</p>
      </div>
    </div>
    <ngx-masonry-gallery [width]="333" [images]="images"></ngx-masonry-gallery>
  </div>
</div>